{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>Game</h1>

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <button>Get prize!</button>
            </div>
        </div>
    </div>
{% endblock %}
